header{    
    background-position: center center;
    height: 350px;
    background-image: url(../img/MeroICS.JPG);
}

h1{
    background-color: rgba(0, 0, 0, 0.452);
    margin-top: 80px;
    padding-left: 11rem;    
    font-family: Verdana;
    color: white;
    font-weight: bold;
}

h2{    
    margin-top: 10px;    
    color: black;
    border-left: black 3px dotted;
    font-variant: small-caps;
    padding: 5px 15px;
}

h3{    
    font-weight: bold;
    color: #894f3b;    
    text-align: center;
    letter-spacing: 1px;
    font-size: 130%;
}

td,th{
    text-align: center;
}

thead>tr:first-child{    
    letter-spacing: 2px;  text-transform: uppercase;  
}

.navbar{
    background-color: white;
    color: white;
}

p{
    text-indent: 15px;
}
.text-right{
    text-align: right;
}

a:hover{
    color: white;
}